
<!DOCTYPE html>
<html>



<head>
<title></title>
</head>

<body>
    
    <p>Latest measurement time: <%= obj2 %></p>
    <p>Temperature: <%= obj %> °C</p>
    <p>Humidity: <%= obj3 %> %</p>
</body>



</html>

