<!DOCTYPE html>
<html>
<head>
</head>

<body>
    <h1>ESP32 Data</h1>
    <p>Latest measurement time: <%= obj2 %></p>
    <p>Temperature: <%= obj %> °C</p>
    <p>Humidity: <%= obj3 %> %</p>
</body>
</html>




